body{
    margin: 0;
    padding: 0;
}

.main
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.row
{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
}

.box
{
    width:200px;
    height: 200px;
    border:1px solid black;
}

.btn
{   
    margin-top: 16px;
    padding: 16px 32px;
    text-align:center;
    background-color: red;
    color:#fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover
{
    border: 2px solid red;
    border-radius: 5px;
    background-color: #fff;
    color: red;
    font-weight: bold;
}