body
{
    margin:0;
    padding:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button
{
    padding: 16px 64px;
    text-align:center;
    background-color: red;
    color:#fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
button:hover
{
    border: 2px solid red;
    border-radius: 5px;
    background-color: #fff;
    color: red;
    font-weight: bold;
}