body
{
    margin:0;
    padding:0;
    background-color: aqua;
     text-align: center;
}
.postContainer
{
    display: inline-block;
}

.post
{   
    margin:16px;
    border: 1px solid #ccc;
    border-radius:4px;
    text-align:center;
    box-shadow: 4px 4px 8px 2px #ccc;
    background-color: white;
}