body
{
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    background-color:#fff;
    box-shadow: 8px 8px 10px 2px #ccc;
    border: thin solid #ccc;
    margin: 16px 48px;
    border-radius: 4px;
    padding: 16px 0;
}

.input
{
    flex: 1;
    padding: 8px 32px;
    margin-left: 16px;
    text-align: center;
    font-size:16px;
    outline:none;
}
.row
{
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.box
{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.box p {
    font-size: 32px;
}

button
{
    margin-top: 16px;
    padding: 16px 64px;
    text-align:center;
    background-color: red;
    color:#fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover
{
    border: 2px solid red;
    border-radius: 5px;
    background-color: #fff;
    color: red;
    font-weight: bold;
}