body{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height:100vh;
}

.overlay
{
    display: none;
    justify-content: center;
    align-items:center;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.32);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.box{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width:30%;
    height: 40%;
    background-color: #fff;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 6px 10px 8px 2px #888888;
}


.btn
{
    padding:15px 50px;
    background-color: red;
    color: white;
    font-size:16px;
    outline: none;
    border:none;
}
